{% set title = 'Cards Page' %}
{% extends 'template/app.html' %}
{% block content %}
{% include 'components/header.html' %}
<!-- page start -->
<section class="dw-page">
	<div class="breads">
		<div class="dw-wrapper">
			<div class="dw-container">
				<div class="page--title">Programa de recompensas</div>
				<ol class="breadcrumbs visible-md">
					<li><a href="#"><i class="icon-home"></i></a></li>
					<li>Programa de recompensas</li>
				</ol>
			</div>
		</div>
		<div class="xs-breads hidden-md">
			<a href="javascript:history.go(-1);" class="breadcump-back-no">
				Back
			</a>
		</div>
	</div><!-- breads -->

	<main class="cards-page">
		<div class="cards-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="line"></div>
						<a href="#" class="card-name">
							<img src="images/cards-page/mastercard_symbol.png">
							Mastercard
						</a>
					</div>
				</div>
			</div>
			<div class="container dn-cards">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="card-block">
							<div class="card-img">
								<a href="#">
									<img src="images/cards-page/beyond-one-mastercard.png">
								</a>
							</div>
							<div class="card-info">
								<h3 class="card-info-title">
									<a href="#">
										Beyond one Mastercard
									</a>
								</h3>
								<p class="card-info-excerpt">Tarjeta de crédito básica y a tu alcance.</p>
								<p class="card-info-excerpt-second"><span class="price">$0</span> cuota anual, Programa de Recompensas y más.</p>
							</div>
							<div class="card-btns">
								<a class="card-btn" href="#">Más detalles</a>
								<a class="card-btn" href="#">Solicíta</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card-block">
							<div class="card-img">
								<a href="#">
									<img src="images/cards-page/beyond-platinum-mastercard.png">
								</a>
							</div>
							<div class="card-info">
								<h3 class="card-info-title">
									<a href="#">
										Beyond Platinum Mastercard
									</a>
								</h3>
								<p class="card-info-excerpt">Disfruta de más beneficios y un mayor límite de crédito.</p>
								<p class="card-info-excerpt-second"><span class="price">$0</span> cuota anual, Programa de Recompensas y más.</p>
							</div>
							<div class="card-btns">
								<a class="card-btn" href="#">Más detalles</a>
								<a class="card-btn" href="#">Solicíta</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card-block">
							<div class="card-img">
								<a href="#">
									<img src="images/cards-page/beyond-ultimate-mastercard.png">
								</a>
							</div>
							<div class="card-info">
								<h3 class="card-info-title">
									<a href="#">
										Beyond Ultimate Mastercard World Elite
									</a>
								</h3>
								<p class="card-info-excerpt">Tarjeta de crédito “premium”para estilos de vida más exigentes.</p>
								<p class="card-info-excerpt-second">Programa de Recompensas libre de costo donde acumulas 2 puntos por cada <span class="price">$1</span>.</p>
							</div>
							<div class="card-btns">
								<a class="card-btn" href="#">Más detalles</a>
								<a class="card-btn" href="#">Solicíta</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card-block">
							<div class="card-img">
								<a href="#">
									<img src="images/cards-page/beyond-business-mastercard.png">
								</a>
							</div>
							<div class="card-info">
								<h3 class="card-info-title">
									<a href="#">
										Beyond Business Mastercard
									</a>
								</h3>
								<p class="card-info-excerpt">Recibe recompensas por cada transacción mientras controlas gastos.</p>
								<p class="card-info-excerpt-second">Programa de Recompensas y otros beneficios para tu empresa.</p>
							</div>
							<div class="card-btns">
								<a class="card-btn" href="#">Más detalles</a>
								<a class="card-btn" href="#">Solicíta</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cards-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<a href="#" class="card-name">
							<img src="images/cards-page/visa_symbol.png">
							Visa
						</a>
					</div>
				</div>
			</div>
			<div class="container dn-cards">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="card-block">
							<div class="card-img">
								<a href="#">
									<img src="images/cards-page/beyond-one-visa.png">
								</a>
							</div>
							<div class="card-info">
								<h3 class="card-info-title">
									<a href="#">
										Beyond One Visa
									</a>
								</h3>
								<p class="card-info-excerpt">Tarjeta de crédito básica y a tu alcance.</p>
								<p class="card-info-excerpt-second"><span class="price">$0</span> cuota anual, Programa de Recompensas y más.</p>
							</div>
							<div class="card-btns">
								<a class="card-btn" href="#">Más detalles</a>
								<a class="card-btn" href="#">Solicíta</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card-block">
							<div class="card-img">
								<a href="#">
									<img src="images/cards-page/beyond-platinum-visa.png">
								</a>
							</div>
							<div class="card-info">
								<h3 class="card-info-title">
									<a href="#">
										Beyond Platinum Visa
									</a>
								</h3>
								<p class="card-info-excerpt">Disfruta de más beneficios y un mayor límite de crédito</p>
								<p class="card-info-excerpt-second"><span class="price">$0</span> cuota anual, Programa de Recompensas y más.</p>
							</div>
							<div class="card-btns">
								<a class="card-btn" href="#">Más detalles</a>
								<a class="card-btn" href="#">Solicíta</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card-block">
							<div class="card-img">
								<a href="#">
									<img src="images/cards-page/beyond-one-visa2.png">
								</a>
							</div>
							<div class="card-info">
								<h3 class="card-info-title">
									<a href="#">
										Beyond One Visa
									</a>
								</h3>
								<p class="card-info-excerpt">Más beneficios y recompensas para viajeros.</p>
								<p class="card-info-excerpt-second">Programa de Recompensas, opción de Chargegard Ultimate y más.</p>
							</div>
							<div class="card-btns">
								<a class="card-btn" href="#">Más detalles</a>
								<a class="card-btn" href="#">Solicíta</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card-block">
							<div class="card-img">
								<a href="#">
									<img src="images/cards-page/beyond-ultimate-visa.png">
								</a>
							</div>
							<div class="card-info">
								<h3 class="card-info-title">
									<a href="#">
										Beyond Ultimate Visa
									</a>
								</h3>
								<p class="card-info-excerpt">Beneficios y servicios para los estilos de vida más exigentes.</p>
								<p class="card-info-excerpt-second">Programa de Recompensas libre de costo donde acumulas 2 puntos por cada <span class="price">$1</span>.</p>
							</div>
							<div class="card-btns">
								<a class="card-btn" href="#">Más detalles</a>
								<a class="card-btn" href="#">Solicíta</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container articles">
				<div class="row">
					<div class="col">
						<h2 class="title-articles">Beneficios</h2>
					</div>
				</div>
			<div class="row">
				<article class="col-md-6 col-lg-6">
					<div class="article-block">
						<a class="article-link-img" href="#">
							<img class="article-img" src="https://via.placeholder.com/552x241/333?text=Article">
						</a>
						<div class="article-info">
							<h4 class="article-title">
								<a href="#">Beyond Wallet</a>
							</h4>
							<p class="article-excerpt">Paga con tu Beyond usando tu Android. </p>
						</div>
						<div class="article-more-link">
							<a href="#">Conoce más <img src="images/cards-page/icons_tail-right.svg"></a>
						</div>
					</div>
				</article>
				<article class="col-md-6 col-lg-6">
					<div class="article-block">
						<a class="article-link-img" href="#">
							<img class="article-img" src="https://via.placeholder.com/552x241/333?text=Article">
						</a>
						<div class="article-info">
							<h4 class="article-title">
								<a href="#">Beyond Wallet</a>
							</h4>
							<p class="article-excerpt">Paga con tu Beyond usando tu Android. </p>
						</div>
						<div class="article-more-link">
							<a href="#">Conoce más <img src="images/cards-page/icons_tail-right.svg"></a>
						</div>
					</div>
				</article>
			</div>
		</div>
	</main>
</section>
<!-- #page end -->
{% endblock %}
