{% set title = 'Home Page' %}
{% extends 'template/app.html' %}
{% block content %}
{% include 'components/header.html' %}
<!-- page start -->
<section class="dw-page">
	<div class="breads">
		<div class="dw-wrapper">
			<div class="dw-container">
				<div class="page--title">Programa de recompensas</div>
				<ol class="breadcrumbs visible-md">
					<li><a href="#"><i class="icon-home"></i></a></li>
					<li>Programa de recompensas</li>
				</ol>
			</div>
		</div>
		<div class="xs-breads hidden-md">
			<a href="javascript:history.go(-1);" class="breadcump-back-no">
				Back
			</a>
		</div>
	</div><!-- breads -->
	<div class="pdr-hero">
		<div class="pdr-hero-inner">
			<div class="dw-wrapper">
				<div class="dw-container">
					<h1><!--Beyond te Recompensa Mejor--></h1>
				</div>
			</div>
		</div>
	</div><!-- hero -->
	<div class="main-content">
		<div class="dw-wrapper">
			<div class="dw-container">
				<div class="dw-intro">
					<h2>Prepárate para un nuevo Programa de Recompensas </h2>
					<h3>A partir del proximo <b>XX de XXX</b> podras disfrutar de un nuevo y mejorado Programa de Recompensas. Por
						esta razón, el dia <b>XX de XXX</b> estaremos actualizando la plataforma y no tendras acceso al manejo de
						tus puntos de recompensa. </h3>
					<p>Tan pronto este lista la actualizacion de nuestra plataforma, podras conectarte con<br> tu mismo nombre de
						usuario y contraseria como de costumbre. </p>
				</div>

				<div class="dw-boxes">
					<h2>Tus Nuevos Beneficios </h2>
					<div class="dw-row">
						<div class="dw-col dw-col-4 dw-col-sm-6">
							<div class="dw-card" data-mh="card">
								<div class="dw-icon">
									<img src="images/pdr/ico_responsive.svg" alt=""/>
								</div>
								<div class="dw-card-content">
									<h3>Mejor experiencia </h3>
									<p>Obten mas de tu Programa de Recompensas con una experiencia más amigable y acceso fácil a través de
										todos los dispositivos.</p>
								</div>
							</div>
						</div><!-- card -->
						<div class="dw-col dw-col-4 dw-col-sm-6">
							<div class="dw-card" data-mh="card">
								<div class="dw-icon">
									<img src="images/pdr/ico_tags-stack.svg" alt=""/>
								</div>
								<div class="dw-card-content">
									<h3>Acceso a más ofertas </h3>
									<p>Obten más oportunidades para ahorrar con más y mejores ofertas exclusivas para ti que puedes
										acceder fácilmente.</p>
								</div>
							</div>
						</div><!-- card -->
						<div class="dw-col dw-col-4 dw-col-sm-6">
							<div class="dw-card" data-mh="card">
								<div class="dw-icon">
									<img src="images/pdr/ico_gift-2.svg" alt=""/>
								</div>
								<div class="dw-card-content">
									<h3>Haz el regalo perfecto</h3>
									<p> Usa tus puntos de recompensa y encuentra el regalo ideal para ese ser especial. Ya no tienes que
										visitar las tiendas, solo busca tu regalo facilmente dentro de nuestro nuevo Programa de
										Recompensas.</p>
								</div>
							</div>
						</div><!-- card -->
						<div class="dw-col dw-col-4 dw-col-sm-6">
							<div class="dw-card" data-mh="card">
								<div class="dw-icon">
									<img src="images/pdr/icon-bag.png" width="57" height="50" alt=""/>
								</div>
								<div class="dw-card-content">
									<h3>Reserva todas tus vacaciones </h3>
									<p>Planifica tus vacaciones reservando vuelos, hoteles, cruceros, atracciones y paquetes vacacionales
										con tus puntos de recompensa o una combinación de puntos y pagando la diferencia con tu Beyond.</p>
								</div>
							</div>
						</div><!-- card -->
						<div class="dw-col dw-col-4 dw-col-sm-6">
							<div class="dw-card" data-mh="card">
								<div class="dw-icon">
									<img src="images/pdr/ico_poits.svg" alt=""/>
								</div>
								<div class="dw-card-content">
									<h3>Paga tu Beyond con puntos</h3>
									<p>Usa tus Puntos de Recompensa para pagar y/o abonar a tu Tarjeta de Credito Beyond.</p>
								</div>
							</div>
						</div><!-- card -->
						<div class="dw-col dw-col-4 dw-col-sm-6">
							<div class="dw-card" data-mh="card">
								<div class="dw-card-inner">
									<div class="dw-card-content">
										<h3>Se miembro del nuevo Programa de Recompensas </h3>
										<p>Aprovecha todo lo que tiene tu tarjeta de credito Beyond para ofrecerte.</p>
										<a href="#" class="btn-green-alt-2">Inscríbete Hoy</a>
									</div>
								</div>
							</div>
						</div><!-- card -->
					</div>
				</div><!-- boxes -->
				<div class="dw-promo">
					<div class="dw-promo-text"><span></span> Preguntas frecuentes sobre el nuevo Programa de Recompensas <a
						href="#" class="btn-green-alt-2">Entra aquí</a></div>
				</div><!-- dw-reg -->
			</div>
		</div>
	</div><!-- main-content -->
</section>
<div class="dw-alert px-0">
	<div class="dw-wrapper">
		<div class="dw-max800">
			Sujeto a aprobación de credito o a la disponibilidad de tu lineas de credito. Ciertas restricciones aplican.
			Visite http://www.rewardsfirsthank.com para detalles del programa de recompensas. FirstBank no es el proveedor ni
			vendedor de estos productos o servicios y no será responsable por acto u omisión que surjan directa o
			indirectamente de los productos o servicios adquiridos. Cualquier reclamación relacionada a los productos o
			servicios adquiridos a través de la oferta especial debera ser tramitada directamente con la entidad que vendió u
			ofreció el articulo o el servicio, sujeto a los términos y condiciones que estos tengan.
		</div>
	</div>
</div><!-- dw-alert -->
<!-- #page end -->
{% endblock %}
