<footer class="footer footer--normal white-bg">
	<nav class="footer__nav">

		<div class="tabs__content centered sitemap">
			<div class="column">
				<ul class="list--style2">
					<li class="title"><a href="#">FirstBank</a></li>
					<li><a href="#">Para Ti</a></li>
					<li><a href="#">Tu Negocio</a></li>
					<li><a href="#">Corporativa</a></li>
					<li><a href="#">Premier Banking</a></li>
					<li><a href="#">Asesoría Financiera</a></li>
					<li><a href="#">Centro De Ayuda</a></li>
					<li><a href="#">Sobre FirstBank</a></li>
				</ul>
			</div>
			<div class="column">
				<ul class="list--style2">
					<li class="title"><a href="#">Políticas</a></li>
					<li><a href="#">Políticas de Privacidad</a></li>
					<li><a href="#">Términos de Uso</a></li>
					<li><a href="#">Guías de Uso de<br>Redes Sociales</a></li>
					<li><a href="#">Seguridad</a></li>
				</ul>
			</div>
			<div class="column">
				<ul class="list--style2">
					<li class="title"><a href="#">Reposeídos</a></li>
					<li><a href="#">Cantidades No Reclamadas</a></li>
					<li><a href="#">Botes Reposeídos</a></li>
					<li><a href="#">Propiedades Reposeídas</a></li>
					<li><a href="#">Proyectos Nuevos</a></li>
				</ul>
			</div>
			<div class="column">
				<ul class="list--style2">
					<li class="title"><a href="#">Apps</a></li>
					<li>
						<button class="button button4 button--appstore icon"></button>
					</li>
					<li>
						<button class="button button4 button--gplay icon"></button>
					</li>
				</ul>
			</div>
		</div>
		<div class="tabs__content centered hide contacts">
			<div class="column">
				<ul class="list--style2">
					<li class="title"><a href="#">Contactos</a></li>
					<li><a href="#">Presidente</a></li>
					<li><a href="#">Director</a></li>
					<li><a href="#">Gerente</a></li>
				</ul>
			</div>
		</div>
		<div class="tabs__content centered hide map">
			<div class="column">
				<img src="http://placehold.it/350x150">
			</div>
		</div>
	</nav>
	<div class="footer__bar1">
		<ul class="footer--logos">
			<li><a class="logo logo1" href="#"></a></li>
			<li><a class="logo logo2" href="#"></a></li>
		</ul>
		<p class="copyright">Copyright © 2005-2015 First BanCorp. All rights reserved. Only for Puerto Rico residents.</p>
	</div>
	<div class="footer__bar2">
		<p class="copyright">Copyright © 2005-2015 First BanCorp. All rights reserved.<br>Only for Puerto Rico residents.
		</p>
		<ul class="footer--logos">
			<li><a class="logo logo1" href="#"></a></li>
			<li><a class="logo logo2" href="#"></a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/app.js"></script>
