@font-face {
    font-family: 'Lato';
    src: url('../webfonts/Lato-Regular.eot');
    src: url('../webfonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Lato-Regular.woff2') format('woff2'),
        url('../webfonts/Lato-Regular.woff') format('woff'),
        url('../webfonts/Lato-Regular.ttf') format('truetype'),
        url('../webfonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../webfonts/Raleway-Medium.eot');
    src: url('../webfonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Raleway-Medium.woff2') format('woff2'),
        url('../webfonts/Raleway-Medium.woff') format('woff'),
        url('../webfonts/Raleway-Medium.ttf') format('truetype'),
        url('../webfonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../webfonts/Lato-Italic.eot');
    src: url('../webfonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Lato-Italic.woff2') format('woff2'),
        url('../webfonts/Lato-Italic.woff') format('woff'),
        url('../webfonts/Lato-Italic.ttf') format('truetype'),
        url('../webfonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../webfonts/Raleway-SemiBold.eot');
    src: url('../webfonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../webfonts/Raleway-SemiBold.woff') format('woff'),
        url('../webfonts/Raleway-SemiBold.ttf') format('truetype'),
        url('../webfonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../webfonts/Lato-Bold.eot');
    src: url('../webfonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Lato-Bold.woff2') format('woff2'),
        url('../webfonts/Lato-Bold.woff') format('woff'),
        url('../webfonts/Lato-Bold.ttf') format('truetype'),
        url('../webfonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../webfonts/Raleway-Bold.eot');
    src: url('../webfonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Raleway-Bold.woff2') format('woff2'),
        url('../webfonts/Raleway-Bold.woff') format('woff'),
        url('../webfonts/Raleway-Bold.ttf') format('truetype'),
        url('../webfonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


