.cards-page {
		background: $bg-gray;
		.dn-cards {
				@include media-breakpoint-up(xs) {
						display: none;
				}
				@include media-breakpoint-up(md) {
						display: inherit;
				}
		}
		.cards-block {
				&:first-child {
						.line {
								@include media-breakpoint-up(xs) {
										border-top: solid 2px transparent;
										margin: 5px 0 22px;
								}
								@include media-breakpoint-up(xl) {
										border-top: solid 2px #e5e5e5;
										margin: 5px 0 22px;
										display: block;
								}
						}
				}
				.card-name {
						border-radius: 3px;
						background-color: #ffffff;
						border: solid 1px #e5e5e5;
						display: inline-flex;
						align-items: center;
						justify-content: flex-start;

						height: 32px;
						padding: 4px 7px;
						margin-bottom: 15px;
						position: relative;
						font-family: Arial;
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #4a4a4a;
						position: relative;

						@include media-breakpoint-up(xs) {
								width: 100%;
								cursor: pointer;
						}
						@include media-breakpoint-up(md) {
								width: 195px;
								cursor: inherit;
						}
						img {
								margin-right: 8px;
								border-radius: 3px;
						}
						&:after {
								content: '';
								position: absolute;
								right: 10px;
								top: 11px;
								width: 14px;
								height: 8px;
								background-image: url(../images/cards-page/arrows_small-up.svg);
								transform: rotate(180deg);

								@include media-breakpoint-up(sm) {
										display: block;
								}
								@include media-breakpoint-up(md) {
										display: none;
								}
						}
						&.active:after {
								transform: rotate(0deg);
						}
				}

				.card-block {
						border-radius: 3px;
						background-color: #ffffff;
						border: solid 1px #e5e5e5;
						margin-bottom: 2rem;
						.card-img {
								img {
										width: 100%;
										height: auto;
								}
						}
						.card-info {
								padding: 14px;
								border-top: solid 1px #e5e5e5;
								@include media-breakpoint-up(xs) {
										min-height: auto;
								}
								@include media-breakpoint-up(sm) {
										min-height: 150px;
								}
								@include media-breakpoint-up(md) {
										min-height: 180px;
								}
								&-title {
										a {
												font-family: Arial;
												font-size: 20px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: 1.2;
												letter-spacing: normal;
												color: #4a4a4a;
												margin-bottom: 8px;
												display: inline-block;
												&:hover {
														color: lighten(#4a4a4a, 15%);
												}
										}
								}
								&-excerpt {
										font-family: Arial;
										font-size: 14px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: 1.5;
										letter-spacing: normal;
										color: #4a4a4a;
										margin-bottom: 8px;
								}
								&-excerpt-second {
										font-family: Arial;
										font-size: 13px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: 1.46;
										letter-spacing: normal;
										color: #868f98;
										.price {
												font-weight: bold;
										}
								}
						}
						.card-btns {
								border-top: solid 1px #e5e5e5;
								display: flex;
								align-items: center;
								justify-content: space-around;
								.card-btn {
										display: block;
										width: 50%;
										text-align: center;
										padding: 14px 0;
										font-family: Arial;
										font-size: 13px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: normal;
										letter-spacing: normal;
										color: $light-green;
										&:not(:last-child) {
												border-right: 1px solid #e5e5e5;
										}
										&:hover {
												color: darken($light-green, 10%);
										}
								}
						}
				}
		}
		.articles {
				padding-bottom: 1rem;
				.title-articles {
						margin-bottom: 17px;
						font-family: Arial;
						font-size: 20px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #4a4a4a;
						padding-top: 30px;
						border-top: solid 2px #e5e5e5;
				}
				.article-block {
						background-color: #ffffff;
						border: solid 1px #e5e5e5;
						margin-bottom: 2rem;
						.article-link-img {
								.article-img {
										display: inline-block;
										width: 100%;
										height: auto;
								}
						}
						.article-info {
								padding: 27px 22px 10px;
								.article-title {
										a {
												font-family: Arial;
												font-size: 16px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: normal;
												letter-spacing: normal;
												color: #4a4a4a;
												margin-bottom: 5px;
												display: inline-block;
										}
								}
								.article-excerpt {
										font-family: Arial;
										font-size: 16px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: 1.5;
										letter-spacing: normal;
										color: #4a4a4a;
								}
						}
						.article-more-link {
								text-align: right;
								margin-right: 27px;
								margin-bottom: 22px;
								a {
										font-family: Arial;
										font-size: 16px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: normal;
										letter-spacing: normal;
										color: darken($light-green, 10%);
										&:hover {
												color: $light-green;
										}
								}
						}
				}
		}
}
