.dw--page {
	padding-top: 83px;
	color: #333!important;
}

.dw-page img {
	max-width: 100%;
	height: auto;
}

.dw-container {
	max-width: 1200px;
	margin: 0 auto;
}

.dw-wrapper {
	padding-left: 15px;
	padding-right: 15px;
}
	
.breads {
	background: #f6f8f7;
	padding: 17px 0 10px;
}

.breads .page--title {
	font-weight: bold;
	font-size: 30px;
	color: #000;
	padding-bottom: 5px;
}

.breads .breadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}

.breads .breadcrumbs > li {
	display: inline-block;
	margin-right: 4px;
	color: #8b8e93;
	line-height: 30px;
	font-size: 13px;
	vertical-align: top;
}

.breads .breadcrumbs > li > a {
	text-decoration: none;
	display: block;
	color: #8b8e93;
	line-height: 30px;
	font-size: 13px;
}

.breads .breadcrumbs > li:not(:first-child) > a:after {
	content: '\003e';
	margin-left: 7px;
	
}

.breads .breadcrumbs .icon-home {
	color: #adca84;
	font-size: 16px;
}

.dw-hero {
	background: #000 url(../images/dw/hero-lg.jpg) no-repeat center top;
	background-size: cover;
}

.dw-hero-inner {
	background-color: rgba(0,0,0,0.45);
	padding: 85px 0;
}

.dw-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.dw-col {
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.dw-items-center {
    -ms-flex-align: center;
    align-items: center;
}

.dw-hero-content .h4 {
	font-size: 22px;
	margin-top: 10px;
	color: #fff;
}

.main-content {
	background: #f6f8f7;
	padding: 50px 0;
}

.text-center {
	text-align: center;
}

.dw-page .main-content h2 {
	font-size: 28px;
	color: #007c29;
	font-weight: bold;
	margin: 0 0 20px;
}

.dw-intro {
	text-align: center;
}

.dw-intro {
	font-size: 22px;
	line-height: 1.45;
}

.dw-boxes {
	padding-top: 60px;
}

.dw-boxes h2 {
	text-align: center;
	margin-bottom: 35px!important;
}

.dw-card {
	background: #fff;
	padding: 45px 25px;
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 50px;
	border-radius: 3px;
}

.dw-card .dw-icon {
	width: 150px;
	height: 150px;
	text-align: center;
	background: #f1f1f1;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: 50px;
}

.dw-card .dw-icon > img {
	vertical-align: middle;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.dw-card h3 {
	font-size: 24px;
	color: #007c29;
	font-weight: bold;
	margin: 0 0 15px;
}

.dw-reg  {
	font-size: 16px;
}

.dw-reg p {
	margin-bottom: 15px;
}

.dw-reg .h5 {
	color: #007c29;
	font-weight: bold;
}

.dwn-icons {
	padding-top: 10px;
}

.dwn-icons a {
	display: inline-block;
	vertical-align: top;
	background: #fff;
	padding: 8px;
	margin-right: 10px;
	border-radius: 3px;
}

.dwn-icons a img {
	width: auto;
	height: 40px;
}

.alert-link {
	line-height: 24px;
	text-decoration: underline;
	color: #444;
	font-style: italic;
}

.info-icon {
	display: inline-block;
	background: url(../images/dw/info.png) no-repeat center;
	background-size: 100%;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	vertical-align: top;
	text-decoration: none;
}


.dw-alert {
	background: #f0f0f0;
	color: #000;
	padding: 20px 15px 20px 200px;
	font-size: 12px;
}

.xs-breads { 
	background: #8cc63e;
	height: 40px;
	line-height: 40px;
	color: #fff;
	padding: 0 15px;
}

.xs-breads a {
	color: #fff;
	text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 0 20px 0 15px;
    border-right: 1px solid #018752;
    background-image: url(../images/ico-back-buttom.gif);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 9%;
}

.hide-on-mobile {
	display: none;
}

@media (min-width: 768px) {
	.hide-on-desktop {
		display: none!important;
		margin-left: auto;
		margin-right: auto;
	}
	
	.hide-on-mobile {
		display: block!important;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1025px) {
	.hidden-md {
		display: none;
	}
	
	.visible-md {
		display: block!important;
	}

	.dw-col-4 {
		-ms-flex:0 0 33.333333%;
		flex: 0 0 33.333333;
		max-width: 33.333333%;
	}
	
	.dw-col-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	
	.text-sm-right {
		text-align: right;
	}

	.dw-col-md-6 {
		-ms-flex:0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	
	.text-md-right {
		text-align: right;
	}

	.dw-hero-inner {
		height: 520px;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.dw-hero-content .h4 {
		font-size: 18px;
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.dw-card {
		padding: 30px 15px;
		position: relative;
		display: table;
	}
	
	.dw-card .dw-icon {
		margin-bottom: 0;
		display: table-cell;
		vertical-align: middle;
	}
	
	.dw-card .dw-card-content {
		display: table-cell;
		vertical-align: middle;
		padding-left: 25px;
	}
}

@media (max-width: 1024px) {
	.dw-hero-inner {
		text-align: center;
	}
	
	.dw-hero-content .h4 {
		font-size: 25px;
		margin-bottom: 30px;
	}
	
	.dw-reg {
		font-size: 19px;
		text-align: center;
	}
	
	.alert-link {
		margin-top: 30px;
		display: inline-block;
	}
	
	.dw-alert {
		padding-left: 15px;
	}

	.dw--page {
		padding-top: 101px;
	}
	
	.breads { 
		padding: 0;
	}
	
	.breads .page--title {
		font-size: 20px;
		padding: 20px 0 10px;
	}	
}

@media (max-width: 767px) {
	.dw--page {
		padding-top: 56px;
	}
	
	.dw-hero-inner {
		padding-bottom: 0;
	}
	
	.dw-hero-content .h4 {
		font-size: 20px;
	}
	
	.dw-hero .bm {
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.dw-card {
		font-size: 20px;
		line-height: 27px;
	}
	
	.dw-intro p br {
		display: none;
	}
	
	.dw-card-content {
		text-align: center;
	}
	
	.dw-reg {
		font-size: 24px;
	}
	
	.p2 br {
		display: none;
	}
	
	.dwn-icons a {
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}
}